[submodule "llm_utils"]
	path = llm_utils
	url = https://github.com/UABPeriopAI/llm_utils.git
[submodule "umlai-ts"]
	path = umlai-ts
	url = https://github.com/UABGH-Emerging-Technologies/umlai-ts.git
